.Card_bg {
    grid-area: 1 / 1 / 5 / 6;
    background-color: #DE1111;
    border-radius: 20px;
}

.Accueil {
    text-align: center;
    font-size: 21px;   
}

.hracc {
    height: 2px;
    background-color: black;
    width: 250px;
    margin: 0 auto;
  }

  .rectangle {
    background: #DE1111;
    padding: 10px;
    margin: 20px;
    color: white;
  }

  .hracc_2 {
    height: 2px;
    background-color: white;
    width: 250px;
    margin: 0 auto;
  }