.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin: 0%; 
    animation: 10s infinite;
}

.carrousel_ecran {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
    margin: 0%; 
}

.carrousel_ecran figure {
    margin: 0%; 
}

figcaption {
    text-align: center;
}

.modif {
    background-color: #DE1111;
    
    
}

figcaption {
    text-decoration: none;
    color: white;
}
 

 