.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin: 0%; 
    animation: 10s infinite;
}

.carrousel_ecran {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
    margin: 0%; 
}

.carrousel_ecran figure {
    margin: 0%; 
}

figcaption {
    text-align: center;
}

.caroussel {
    background: #DE1111;
    padding: 10px;
     margin: 20px;
     color: white;
     border-radius: 0.625rem;
     text-decoration: none;    
}

 