.boutton-envoyer {
    padding: 1.25rem;
    margin-left: 70%;
  }
  
  button {
    display: inline-block;
    background-color: orange;
    border-radius: 0.625rem;
    color: wh;
    text-align: center;
  }

  input {
    margin-bottom: 0.3125rem;
      border-radius: 0.625rem;
      font-size: 1.25rem;
      width: 80%;
      padding: 0.375rem;
  }

  .contact {
    padding: 20px;
  }