footer {
    background-color: #DE1111;
    text-align: center;
    color: white;
}

.legale {
    font-size: 15px; 
    font-weight: 200;
    position: relative;
    bottom: 40px;
}

.mail {
    font-size: 15px; 
    font-weight: 200;
    position: relative;
    bottom: 40px;
}

.Formulaire_footer {
    font-size: 15px; 
    font-weight: 200;
    text-decoration: underline;
    position: relative;
    bottom: 40px;
    color: white;
}

.instagram {
    width: 10%;
      display: inline-block;
      position: relative;
      right: 15%;
      margin-top: 0px;
      position: relative;
      bottom: 40px;
  }
  
  .twitter {
    width: 10%;
    display: inline-block;
      position: relative;
      right: 0%;
      margin: auto;
      position: relative;
      bottom: 40px;
  }
  
  .youtube {
    width: 10%;
    display: inline-block;
      position: relative;
      left: 15%;
      margin: auto;
      position: relative;
      bottom: 40px;
  }