footer {
    background-color: #DE1111;
    text-align: center;
    color: white;
}

.legale {
    font-size: 17px; 
    font-weight: 600;
    position: relative;
    bottom: 40px;
}

.mail {
    font-size: 17px; 
    font-weight: 700;
    position: relative;
    bottom: 40px;
}

.Formulaire_footer {
    font-size: 17px; 
    font-weight: 600;
    text-decoration: underline;
    position: relative;
    bottom: 40px;
}