header {
    text-decoration: none;
    margin: 0 0px;
    background: #DE1111;
    padding-top: 20px;
}

.logo_planete {
    margin-left: 35px;
    margin-top: 10px;
    width: 35px;
  }

  .hamburger {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }